name: Android Instrumentation Tests

on:
  pull_request_target:
    types: [labeled]
    paths:
      - 'app/**'

jobs:
  instrumentation:
    name: Run instrumentation tests on emulator
    if: contains(github.event.label.name, 'run-instrumented-tests')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Run connected Android tests on AVD
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          arch: x86_64
          emulator-options: '-no-window -no-audio'
          script: |
            ./gradlew :app:assembleDebug :app:assembleAndroidTest :app:connectedAndroidTest -Pci --no-daemon
